@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "dysonfutura";
  src: url("../public/fonts/Dyson-futura/DysonFutura-Book.woff");
}

html, body, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
